<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dell.job">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CAMERA" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CondidateRegisterActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".EmployerActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CandidatepackageActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".EmployerpackageActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CompleteProfileActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".RegistrationActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".SearchActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".AllListActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".FilterActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".ProfileActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".NotificationActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".AboutUsActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".PrivacyPolicyActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>



        <activity android:name=".TermsCondtionActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".EditProfileActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".PayMentActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".PaymentsActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".MerchantCheckoutActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".SelectPackageActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".EditCandidateActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".EditemployeActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>


        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.Dark"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">

        </activity>
        <activity android:name="com.facebook.CustomTabMainActivity" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
    </application>

</manifest>